//
//  stagging.xcconfig
//  smw-ios
//
//  Created by Charles Prado on 31/08/19.
//  Copyright © 2019 Charles Prado. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_BASE_PATH = http:/$()/localhost:8080/api

